<% @order_items.each do |order_item| %>
  <div id="<%= "order_row_#{order_item.item.id}" %>">
    <div><%= order_item.item.title %></div>
    <div><%= order_item.price %></div>
    <div><%= order_item.quantity %></div>
    <div><%= order_item.item.title %></div>

  </div>
<% end %>


<div>Total price: <%= @order.total %></div>
<%= form_tag charges_path do %>
  <div>Name: <%= text_field_tag 'name', '', onblur: 'checkMandatoryValues()'%></div>
  <div>Address 1: <%= text_field_tag 'address1', '', onblur: 'checkMandatoryValues()' %></div>
  <div>Address 2: <%= text_field_tag 'address2' %></div>
  <div>Postal Code: <%= text_field_tag 'postal_code', '', onblur: 'checkMandatoryValues()' %></div>
  <div>City: <%= text_field_tag 'city', '', onblur: 'checkMandatoryValues()' %></div>
  <div>E-mail: <%= text_field_tag 'email', '', onblur: 'checkMandatoryValues()' %></div>
  <div>Phone: <%= text_field_tag 'phone_number', '', onkeyup: 'checkMandatoryValues()' %></div>

  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>

  <div id="mandatoryAddressMessage">Customer Information Must be Filled in</div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV['PUBLISHABLE_KEY'] %>"
          data-description='Foodie Moodie'
          data-amount="<%= @order.total * 100 %>"
          data-currency="sek"></script>
<% end %>
<script>

var checkMandatoryValues = function(){
  var name = $('#name').val();
  var address1 = $('#address1').val();
  var address2 = $('#address2').val();
  var postal_code = $('#postal_code').val();
  var city = $('#city').val();
  var email = $('#email').val();
  var phone = $('#phone_number').val();
  //console.log(name, address1, address2, postal_code, city, email, phone);
  if (name && address1 && postal_code && city && email && phone){
    $('.stripe-button-el').removeAttr('disabled');
    $('#mandatoryAddressMessage').hide();
  }
  else
  {
    $('.stripe-button-el').attr('disabled', 'disabled');
    $('#mandatoryAddressMessage').show();
  }
};

$(document).ready(function(){
  $('.stripe-button-el').attr('disabled', 'disabled');
});
</script>
